html{
    line-height: 1rem !important;
}
.main{
    width:19rem;
    text-align: center;
    line-height: 2rem;
    background: #94947024;
    border: 1px solid #350202;
    color:#651717;
}

table{
    width:100%;
}